* {
  box-sizing: border-box;
}

.container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 12% 10% 25% 10% 25%;
grid-gap: 10px;
padding: 20px;
height: 80vh;
}

body {
  background-color: rgba(144, 197, 220, 1);
  border-top-style: dashed;
  border-top-color:wheat;
  border-top-width: 1.3rem;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  align-content: center;
  margin: auto;
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
}

.h-one {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: auto;
  padding-bottom: 6rem;
  font-family: 'Coda', cursive;
  font-size: 1.5rem;
}

 div #imgs {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 4;
  align-content: center;
  padding-top: 10rem;
}

#imgs img {
  width: 400px;
  height: 350px;
  border-style: solid;
  border-color: transparent;
  margin: auto;
  border-width: 0.5rem;
  
}

#imgs img:hover {
  width: 400px;
  height: 350px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.734);
  border-width: 0.5rem;
  cursor: pointer;
  
}
 div #chart {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 2rem auto;
  margin-top: 12rem;
  padding: 0.7rem 1.5rem;
  color: lightgrey;
  width: 750px;
  font-size: 1rem;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  margin: 20rem auto 2rem auto;
  font-family: 'Coda', cursive;
  font-size: 1.5rem;
}

/* .clicks-allowed {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: auto;
  margin-top: 12rem;
  padding: 0.7rem 1.5rem;
  background-color: rgba(128, 128, 128, 0.734);
  color: rgb(255, 255, 255);
  width: max-content;
  font-size: 1rem;
  
}
.clicks-allowed:hover {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: auto;
  margin-top: 12rem;
  padding: 0.7rem 1.5rem;
  background-color:rgb(148, 135, 112);
  color: lightgrey;
  width: max-content;
  font-size: 1rem;
  cursor: pointer;
} */